In [54]:
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
import pandas as pd
import numpy as np
import random

In [55]:
df = pd.read_csv("covid_analytics_clinical_data.csv")
c_df = df[['Country','Study Pop Size (N)','Severity',]]
c_df = c_df.rename(columns={'Study Pop Size (N)': 'population'})
r_df = c_df.query('Country == "USA" & population >= 50')
r_df

    Country  population              Severity
258     USA       167.0                   All
259     USA       101.0                   All
260     USA        50.0                   All
320     USA        53.0                   All
427     USA      4103.0                   All
428     USA      2104.0             Mild only
429     USA      1999.0                   All
430     USA      1999.0                   All
431     USA       650.0  Severe/Critical Only
473     USA       147.0                   All
474     USA       261.0                   All
481     USA       393.0                   All
482     USA       130.0  Severe/critical only
483     USA       263.0                   All
485     USA       368.0                   All
486     USA        97.0                   All
487     USA       113.0                   All
488     USA       158.0                   All
489     USA      5700.0                   All
490     USA      2634.0                   All
504     USA        57.0                   All
506     USA       754.0                   All
507     USA      3759.0                   NaN
511     USA      3055.0                   All
517     USA       217.0  Severe/Critical Only
518     USA       129.0  Severe/Critical Only
519     USA        52.0  Severe/Critical Only
524     USA       257.0                   NaN
528     USA       151.0                   NaN
529     USA       618.0                   NaN
530     USA       231.0                   NaN
531     USA      1000.0                   NaN
532     USA       305.0                   All
533     USA        89.0                   All
534     USA        99.0                   All
535     USA       117.0                   All
536     USA       247.0                   All
537     USA        50.0                   All